body{
    background-color: rgb(247, 247, 247);
}
.rightpanellinks{
    color: grey;
    font-size: 12px;
}
.search-input{
    height: 35px;
    text-align: left;
    border-radius: 5px;
    background-color:rgb(233, 231, 231);
    border: 0;
}